body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scrollbar-color: #007FFF #d2e8ff;
}

/* changing scroll bar color */
::-webkit-scrollbar-track {
  width: 10px;
  background-color: #d2e8ff;
}

::-webkit-scrollbar-thumb {
  background-color: #007FFF;
}